<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= link_to root_path do %>
    <%= image_tag 'LogoDAC.png',class: "logo-dac" %>
    <% end %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Inicio", root_path, class: "navbar-wagon-link" %>
    <%= link_to "Conocenos", conocenos_path, class: "navbar-wagon-link" %>
    <%= link_to "Productos", productos_path, class: "navbar-wagon-link" %>
    <%= link_to "Servicios", servicios_path, class: "navbar-wagon-link" %>
    <%= link_to "Contacto", contacto_path, class: "navbar-wagon-link" %>

    <!-- Profile picture with dropdown list -->
<!--     <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Conocenos</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Proyectos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#quienes-somos">Conocenos</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </div>
</div>