<div class="home-mobile-container">
	<div class="mobile-home-banner">
		<div class="mobile-home-banner-background">	
	  		<h1 class="mobile-banner-title">Distribuidora de Alambres de la Costa</h1>
	  		<p><%= link_to "Conocenos", '#quienes-somos', class: "home-banner-btn" %></p>
		</div>

		<div>
			<div class="mobile-home-quienes-somos" id="quienes-somos">
				<p>Quienes Somos:</p>
				<p>Hacemos parte de la red de empresas de <%= link_to 'Central de Hierros ltda.', "www.centraldehierros.com" %>, <%= link_to 'Centro Aceros del Caribe ltda.', "www.centroacerosdelcaribe.com" %> y <%= link_to 'Central de Servicios EU.', "www.centraldeservicios.com.co" %> en Barranquilla. Haz click en <%= link_to 'Conocenos', conocenos_path %> y lee mas a cerca de nosotros.</p>
			</div>

			<div class="mobile-home-vendemos">
			    <p>Nuestros Aliados:</p>
			    <p>Somos representantes exclusivos de Oliveira SA. que hace parte del grupo WireCo WorldGroup. Lider en produccion de cables de acero con mas de 120 años de experiencia. </p>
			</div>

			<div class="mobile-home-servicios">
			    <p>Nuestro Equipo:</p>
			    <p>Gracias a nuestros aliados, contamos con una personal capacitado y entrenado para proveer todo tipos de soluciones en cables de aceros y sinteticos. Ademas, nuestro equipo de ventas le garantiza un servicio puntual y eficaz.</p>
			</div>
		</div>	
	</div>
</div>