	<div class="home-banner">
		<div class="home-banner-background">	
	  		<h1 class="banner-title">Distribuidora de Alambres</h1>
	  		<p><%= link_to "Conocenos", conocenos_path, class: "home-banner-btn" %></p>
		</div>

		<div>
			<div class="home-quienes-somos">
				<p>Quienes Somos:</p>
				<p>Hacemos parte de la red de empresas de Central de Hierros ltda., Centro Aceros del Caribe ltda., y Central de Servicios EU en Barranquilla.</p>
			</div>

			<div class="home-vendemos">
			    <p>Vendemos:</p>
			    <p>Vendemos cables de acero o sinteticos. Tenemos un portafolio con una amplia gama de productos para diferentes usos e industrias.</p>
			</div>

			<div class="home-servicios">
			    <p>Servicios:</p>
			    <p>Contamos con servicio de corte, empaque y entrega. Nuestra flota de vehiculos internos y colaboradores en el area de logistica le garantiza que su producto llegue a tiempo y en optimo estado.</p>
			</div>
		</div>	
	</div>

	<div class="home-banner-transition">
		<div class="home-background-2">
			<h1 class="home-second-banner-title"> Productos:</h1>
				<div class="home-products-box">
					<div class="home-products">	
						<%= image_tag ("wire_rope.jpg"), class: "home-product-image" %>
						<div class="home-product-overlay"> 
							<div class="image-text"><%= link_to "CABLES DE ACERO", productos_path %></div>
							<p><%= link_to "Hechos en Portugal por la compañia Oliveira SA, contamos con la representacion exclusiva de WireCo  WorldGroup. Los cables de acero son producidos para diferentes industrias con diferentes propositos.", productos_path, class: "image-text-two" %></p>
						</div>
					</div>

					<div class="home-products">
						<%= image_tag ("dyneema-winch-rope.jpeg"), class: "home-product-image" %>
						<div class="home-product-overlay"> 
							<div class="image-text"><%= link_to "CABOS SINTETICOS", productos_path %></div>
							<p><%= link_to "Hechos en Portugal por la compañia Oliveira SA, contamos con una variedad de cabos sinteticos fabricados de diferentes materiales como Polyester, Nylon, Nylon de Polyamida y Polypropileno. Sus aplicaciones varian dependiendo de la industria.", productos_path, class: "image-text-two"%></p>
						</div>	
					</div>
				</div>
		</div>
	</div>

	<div class="soluciones-industriales-banner">
		<p class="home-third-banner-title"> Industrias a las que servimos:</p>
			<div class="soluciones-industriales-list">
					<div class="home-industries">	
						<%= image_tag ("construction-industry.jpg"), class: "home-industries-image" %>
						<div class="home-industries-overlay"> 
							<div><%= link_to "Construccion", productos_path, class: "image-industry-text" %></div>	 
						</div>
					</div>

					<div class="home-industries">	
						<%= image_tag ("marine-industry.jpg"), class: "home-industries-image" %>
						<div class="home-industries-overlay"> 
							<div><%= link_to "Maritima", productos_path, class: "image-industry-text"  %></div>	 
						</div>
					</div>

					<div class="home-industries">	
						<%= image_tag ("mining-industry.jpg"), class: "home-industries-image" %>
						<div class="home-industries-overlay"> 
							<div><%= link_to "Mineria", productos_path, class: "image-industry-text"  %></div>	 
						</div>
					</div>

					<div class="home-industries">	
						<%= image_tag ("fishing-ship.jpg"), class: "home-industries-image" %>
						<div class="home-industries-overlay"> 
							<div><%= link_to "Pesca", productos_path, class: "image-industry-text"  %></div>	 
						</div>
					</div>

					<div class="home-industries">	
						<%= image_tag ("estructuras-arq.jpg"), class: "home-industries-image" %>
						<div class="home-industries-overlay"> 
							<div><%= link_to "Estructuras Arquitectonicas", productos_path, class: "image-industry-text"  %></div>	 
						</div>
					</div>

					<div class="home-industries">	
						<%= image_tag ("wind-energy.jpg"), class: "home-industries-image" %>
						<div class="home-industries-overlay"> 
							<div><%= link_to "Energias Alternativas", productos_path, class: "image-industry-text"  %></div>	 
						</div>
					</div>

				</div>
			</div>
	</div>
<div>

