<div class="productos-container">
		<h1>Productos</h1>
	<div class="productos-box">
		<h2>Cables por Aplicacion:</h2>
			<div class="productos">
				<p>Gruas de Contenedores</p>
				<div class="product-overlay">
					<%= image_tag ("productos-1.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Descargador de Barcos</p>
				<div class="product-overlay">
					<%= image_tag ("productos-2.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Torres Grua</p>
				<div class="product-overlay">
					<%= image_tag ("productos-3.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Puentes Grua</p>
				<div class="product-overlay">
					<%= image_tag ("productos-4.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Gruas para Cubierta "Deck Crane"</p>
				<div class="product-overlay">
					<%= image_tag ("productos-5.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Grua Movil Telescopica</p>
				<div class="product-overlay">
					<%= image_tag ("productos-6.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Grua Pedestal "Offshore"</p>
				<div class="product-overlay">
					<%= image_tag ("productos-7.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Grua con mastil de celosía y gruas oruga</p>
				<div class="product-overlay">
					<%= image_tag ("productos-8.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Grua de portico con neumatico</p>
				<div class="product-overlay">
					<%= image_tag ("productos-9.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Carretillas Portico</p>
				<div class="product-overlay">
					<%= image_tag ("productos-10.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Perforacion / Pilotes</p>
				<div class="product-overlay">
					<%= image_tag ("productos-11.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Gruas Portuarias Moviles</p>
				<div class="product-overlay">
					<%= image_tag ("productos-12.png"), class: "productos-image" %>
				</div>
			</div>
			<div class="productos">
				<p>Grua con mastil de celosía moviles</p>
				<div class="product-overlay">
					<%= image_tag ("productos-13.png"), class: "productos-image" %>
				</div>
			</div>
	</div>

	<a href="../../assets/catalog.pdf" download="catalog.pdf">
	    <button type="button" class="download-btn"><i class="fas fa-angle-down"></i>Descargar Catalogo</button>
	</a>
		<%#= link_to 'catalog.pdf', download: 'catalog.pdf', class: "download-btn" do %>
		<!-- <i class="fas fa-angle-down"></i> Descargar Catalogo -->
		<%# end %>
</div>
